.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

* {
  text-align: center;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 5px;
  padding: 5px;
  max-width: 250px;
}

.card li {
  text-align: left;
}

.search-form {
  margin: 10px;
}

input, button {
  margin: 10px;
}